body {
  background-image: url("../images/field.jpg");
  font-family: "Helvetica";
  font-size: 2em;
  font-weight: bold;
}

button {
    background-color: #4CAF50;
    border: 2px: solid;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

* :focus {
  outline: none;
}

#outer{
  background-color: hsla(50, 33%, 25%, 0.5);
  border: 1px solid LightSeaGreen;
  position: relative;
  margin-top: 60px;
  padding-top: 80px;
  height: 600px;
  width: 700px;
}

#inner{
  float: left;
  position: relative;
  margin: 0 0 0 75px;
  height: 500px;
}

#main {
  font-size: 1.8em;
  margin: 0 0 20px 0;
}

#current-temp {
  margin: 0 auto;
  font-size: 2.5em;
}

#unit {
  position: absolute;
  padding-top: 20px;
}

.text-divs {
  margin-top: 20px;
  padding: 5px;
}

#temperature-gauge {
  border: 1px gray solid;
  background-color: hsla(50, 33%, 25%, 0.5);
  float: left;
  margin: 0 0 75px 50px;
  position: relative;
  height: 460px;
  width: 65px;
}

#mercury {
  border-top-color: orange;
  border-width: 1px;
  border-style: solid;
  background-color: hsla(0, 100%, 50%, 0.4);
  position: absolute;
  bottom: 0;
  height: 1%;
  width: 100%;
}
